#ignoring the node module folder and package lock.
node_modules/
./package-lock.json

# ds store and env. variables.
.DS_Store
.env

# scripts
scripts

# ignoring the initial csv files for cnv, mutation and rna.
data_conversion/InitialCsvFiles/copy_number_variation/
data_conversion/InitialCsvFiles/mutation_data/
data_conversion/InitialCsvFiles/rna_sequencing/

# ignoring the final csv files for cnv, mutation and rna.
data_conversion/FinalCsvFiles/copy_number_variation_final.csv
data_conversion/FinalCsvFiles/mutation_final.csv
data_conversion/FinalCsvFiles/rnasequencing_final.csv
